* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #6fb2d2;
    color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    /* font-size: 62.6%; */
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;

}
h1{
align-items: center;
}
#question {
    font-size: 2.4rem;
    font-weight: 800;   
}

.question-answer-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50vw;
    height: 70vh;
 /* background-color: rgb(10, 54, 54);  */
}
.progress-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15vh;
    width: 25vh;
    margin-bottom: 2rem;
    /* background-color: aquamarine; */
}
.question-hub{
    font-size: 1.5rem;
}
.progress-score {
    background-color: #fff;
}

.option-container {
    background-color: #85c88a;
    width: 50vw;
    height: 10vh;
    display: flex;
    align-items: center;
    border: 0.1rem solid #eeeeee;
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
    border-radius: 0.5rem;

}

.option-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 gray;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.option-prefix {
    padding: 1.5rem 1.5rem;
    color: #fff;
    background-color: #ebd671;
    border-radius: 50%;
    margin-left: 1rem;
    width: 0.01rem;
    height: 0.01rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option-text {
    padding: 1.5rem;
    width: 45vw;
    height: 5px;
    display: flex;
    align-items: center;
}

.submit-container {
    font-size: 30px;
    width: 12rem;
    height: 10%;
    background-color: #ebd671;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.submit-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(58, 164, 0.6);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
    background-color: #eeeeee;
    color: #6fb2d2;
}